<?php
include ("../../links.php"); 
include ("../../includes/header.html"); 
?>

<fieldset>
<h1><center>HDF Java Products Home Page</center></h1>
</fieldset>

<p>
<note>Latest Release:</note> &nbsp; 2.11 &nbsp; &nbsp; &nbsp;
[ <a href="/newsletters/newsletter143.pdf">Newsletter 143</a> ] &nbsp;
[ <a href="hdfview/UsersGuide/ug01introduction.html#ug01release">Release Notes</a> ]
</p>
<center>
<table style="border:none;">
<tr style="border:none;">
<td style="border:none;">
<p class="yellowbg">
An experimental version of HDF-Java is now available in which the object model jar files and HDFView application are separated<br />
from the native interfaces for Java HDF4 (JHI) and Java HDF5 (JHI5). Separating the native interfaces and Java class libraries<br /> 
will allow users to write HDF-Java code without the overhead of the HDFView application. For more information and to obtain<br />
this release see: &nbsp; <strong><a href="release/downloadexp.html">Obtain Experimental HDF-Java / HDFView</a></strong>
</p>
</td>
</tr>
</table>
</center>

<img style="position:absolute; margin-left:540px; margin-top:20px;" name="download" src="../../images/hdfjava.png" width="151"
 height="79" border="0" id="downloadb" usemap="#m_downloadb" alt="" /><map name="m_downloadb" id="m_downloadb">
<area shape="rect" coords="0,0,135,77" href="./release/download.html" alt="" />

<p>
The <b>HDF Java Products</b> consist of HDFView (a Java browser for HDF4 and HDF5<br />
files) and the HDF-Java wrappers.
</p>
<p>
The HDF-Java wrappers consist of the Java HDF Object Package, related HDF4<br />
and HDF5 Object Packages, and the native interface for Java HDF (JHI) and <br />
Java HDF5 (JHI5). The native interface includes the Java classes and  C interface libraries.
</p>

<table WIDTH=100% BORDER COLS=2>

<tr bgcolor="ccdddd">
<td><strong>Product</strong></td>
<td><strong>Description</strong></td>
</tr>

<tr>
<td><a href="hdfview/index.html">HDFView</a></td>

<td>A visual tool for browsing and editing HDF4 and HDF5 files.
</td>
</tr>

<tr>
<td><a href="hdf-object/index.html">Java HDF Object Package</a></td>

<td>A Java package that implements HDF4 and HDF5 data objects in 
an object-oriented form. </td>
</tr>

<tr>
<td><a href="JNI/jhi/index.html">Java HDF Interface (JHI)</a></td>

<td>The Java Native Interface to the standard HDF4 library (requires the HDF4 library)</td>
</tr>

<tr>
<td><a href="JNI/jhi5/index.html">Java HDF5 Interface (JHI5)</a></td>

<td>The Java Native Interface to the standard HDF5 library (requires the HDF5 library)</td>
</tr>
</table>
<br />
<a name="curr"></a>
<p><em>Current Release:</em></p>
<p>
HDF-Java 2.11 was built with HDF 4.2.10 and HDF5-1.8.14 using jdk 1.7.x. 
</p>
<p>
It includes improvements to the handling of several datatypes and to filters and dynamic loading. 
 </p>

<p>
For detailed information regarding platforms supported and changes in this release, please be sure to
see the <a href="hdfview/UsersGuide/ug01introduction.html#ug01release">Release Notes</a>.
</p>

<hr />

<?php 
include ("../../includes/footer.html"); 
?>


