<?php
include ("../../../../links.php");
include ("../../../../includes/header.html");
?>

<fieldset><h1>HDF-Java Native Interface Unsupported Functions </h1></fieldset>

<center>
<p>
<table border=1>
 <tr height=20>
  <td>H5Aget_create_plist</td>
  <td >Low priority</td>
 </tr>
 <tr height=20>
  <td>H5Aiterate_by_name</td>
   <td>Function pointer</td>
 </tr>
 <tr height=20>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Aiterate1</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Aiterate2</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Ddebug</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Eget_auto1</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Eget_auto2</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Epush1</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Epush2</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Eset_auto1</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Eset_auto2</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Ewalk1</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Ewalk2</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDalloc</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDclose</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDcmp</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDflush</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDfree</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDget_eoa</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDget_eof</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDget_vfd_handle</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDquery</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDread</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDregister</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDset_eoa</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDtruncate</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDunregister</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5FDwrite</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Fget_info</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Fget_mdc_config</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Fget_vfd_handle</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Fset_mdc_config</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Giterate</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Iclear_type</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Idec_type_ref</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Idestroy_type</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Iinc_type_ref</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Iis_valid</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Iregister</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Iregister_type</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Itype_exists</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Lcreate_ud</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Lis_registered</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Lregister</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Lunpack_elink_val</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Lunregister</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Odecr_refcount</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Oincr_refcount</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Oopen_by_addr</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Oopen_by_idx</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pcreate_class</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pget_elink_cb</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pget_multi_type</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pget_type_conv_cb</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pget_vlen_mem_manager</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pinsert1</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pinsert2</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Piterate</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pregister1</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pregister2</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pset_attr_phase_change</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pset_driver</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pset_dxpl_mpio_chunk_opt</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pset_dxpl_mpio_chunk_opt_num</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pset_dxpl_mpio_chunk_opt_ratio</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pset_dxpl_mpio_collective_opt</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pset_elink_cb</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pset_filter_callback</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pset_multi_type</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pset_type_conv_cb</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Pset_vlen_mem_manager</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Scombine_hyperslab</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Scombine_select</td>
  <td class=xl68 style='border-top:none;border-left:none'>Low priority</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Tfind</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Tregister</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>H5Tunregister</td>
  <td class=xl68 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl69 style='height:15.75pt;border-top:none'>H5Zregister</td>
  <td class=xl70 style='border-top:none;border-left:none'>Function pointer</td>
 </tr>
</table>
</center>

<hr />
<?php
include ("../../../../includes/footer.html");
?>
