<?php
$page_title = "HDFView User's Guide";
include ("../../../../links.php");
include ("../../../../includes/header.html");
?>
<link href="edit.css" rel="stylesheet" type="text/css" />

<p>
<a href="index.html">[Index]</a>
<a href="ug01introduction.html">[1]</a>
<a href="ug02start.html">[2]</a>
<a href="ug03objects.html">[3]</a>
<a href="ug04treeview.html">[4]</a>
<a href="ug05spreadsheet.html">[5]</a>
<a href="ug06imageview.html">[6]</a>
<a href="ug07textview.html">[7]</a>
<a href="ug08useroptions.html">[8]</a>
</p>

<fieldset><h1>HDFView User's Guide</h1></fieldset>
<p>

<p><i><b>
This document is a user's guide on how to use HDFView. For information on
implementing an HDFView module, please read
<a href="../ModularGuide/index.html">
A User's Guide on How to Implement HDFView Modules</a>
</b></i></p>

<hr />
<p>HDFView is a graphic utility designed for viewing and editing the
contents of HDF4 and HDF5 files. This document provides the following information:</p>

<ul class="ul">

<li class="li2">
User instructions for HDFView</li>
<li class="li2">
A brief discussion of the HDF object model
(Details of the HDF object model are available from

<a href="../../hdf-object/index.html">HDF Object Package</a>.)</li>

</ul>

<hr noshade size=1 />
<h2>Table of Contents</h2>

<ul class="ul">

<li class="li2">
<a href="ug01introduction.html">Chapter 1: Introduction</a></li>

<ul class="ul">
<li class="li2"><a href="ug01introduction.html#ug01overview">1.1 Overview</a></li>
<li class="li2"><a href="ug01introduction.html#ug01release" >1.2 About This Release</a></li>
<li class="li2"><a href="ug01introduction.html#ug1furtherinfo">1.3 Further Information</a></li>
</ul>

<br />
<li class="li2">
<a href="ug02start.html">Chapter 2: Getting Started</a>
<ul class="ul">
<li class="li2"><a href="ug02start.html#ug02main">2.1 The Main Window</a></li>
<li class="li2"><a href="ug02start.html#ug02load">2.2 Opening a File</a></li>
<li class="li2"><a href="ug02start.html#ug02tree">2.3 Tree View of File Hierarchy</a></li>
<li class="li2"><a href="ug02start.html#ug02message">2.4 Status Information</a></li>
<li class="li2"><a href="ug02start.html#ug02property">2.5 Viewing HDF Metadata</a></li>
<li class="li2"><a href="ug02start.html#ug02option">2.6 Command-line Options</a></li>
</ul>
</li>

<br />
<li class="li2">
<a href="ug03objects.html">Chapter 3: HDF Object Model</a>
<ul class="ul">
<li class="li2"><a href="ug03objects.html#ug03overview" >3.1 Overview</a></li>
<li class="li2"><a href="ug03objects.html#ug03definition">3.2 The HDF Object Package</a></li>
<li class="li2"><a href="ug03objects.html#ug03hierarchy">3.3 Class Hierarchy</a></li>
<li class="li2"><a href="ug03objects.html#ug03application">3.4 Using the HDF Object Package</a></li>
</ul>
</li>

<br />
<li class="li2">
<a href="ug04treeview.html">Chapter 4: The Tree Viewer</a>

<ul class="ul">
  <li class="li2"><a href="ug04treeview.html#ug04overview" >4.1 Overview</a></li>
  <li class="li2"><a href="ug04treeview.html#ug04tree">4.2 Tree Structure</a></li>
  <li class="li2"><a href="ug04treeview.html#ug04data">4.3 View Data Content</a></li>
      <ul class="ul">
      	<li class="li2"><a href="ug04treeview.html#ug04bitmask">4.3.1 Show Bit Values</a></li>
      </ul> 
  <li class="li2"><a href="ug04treeview.html#ug04metadata">4.4 Display Metadata and Attributes</a></li>
  <li class="li2"><a href="ug04treeview.html#ug04edit">4.5 Edit File and  File Structure</a>
      <ul class="ul">
        <li class="li2"><a href="ug04treeview.html#ug04file">4.5.1 Create and Save File</a></li>
        <li class="li2"><a href="ug04treeview.html#ug04libversion">4.5.2 Setting the Library version bounds</a></li>
        <li class="li2"><a href="ug04treeview.html#ug04add">4.5.3 Add and Delete Object</a></li>
        <li class="li2"><a href="ug04treeview.html#ug04copy">4.5.4 Copy and Paste Object</a></li>
        <li class="li2"><a href="ug04treeview.html#ug04move">4.5.5 Move Object</a></li>
        <li class="li2"><a href="ug04treeview.html#ug04attribute">4.5.6 Add, Delete and Modify Attribute</a></li>
      </ul>
  </li>
</ul></li>

<br />
<li class="li2">
<a href="ug05spreadsheet.html">Chapter 5: Table Viewer</a>
<ul class="ul">
<li class="li2"><a href="ug05spreadsheet.html#ug05display">5.1 Open Dataset</a></li>
<li class="li2"><a href="ug05spreadsheet.html#ug05subset">5.2 Subset and Dimension Selection</a>
  <ul class="ul">
    <li class="li2"> <a href="ug05spreadsheet.html#ug05range">5.2.1 Setting Valid Values</a>
    <li class="li2"> <a href="ug05spreadsheet.html#ug05subset_size">5.2.2 Dimension Size</a></li>
    <li class="li2"> <a href="ug05spreadsheet.html#ug05subset_3d">5.2.3 Three or More Dimensions</a></li>
    <li class="li2"> <a href="ug05spreadsheet.html#ug05subset_transpose">5.2.4 Swap Dimension and Data Transpose</a></li>
    <li class="li2"> <a href="ug05spreadsheet.html#ug05subset_compound">5.2.5 Compound Dataset Options</a></li>
  </ul></li>
<li class="li2"><a href="ug05spreadsheet.html#ug05lineplot">5.3 Display a Column/Row Line Plot</a></li>
<li class="li2"><a href="ug05spreadsheet.html#ug05change">5.4 Change Data Value</a></li>
<li class="li2"><a href="ug05spreadsheet.html#ug05save">5.5 Save Data Values to a Text File</a></li>
<li class="li2"><a href="ug05spreadsheet.html#ug05import">5.6 Import Data from a Text File</a></li>
<li class="li2"><a href="ug05spreadsheet.html#ug05datasetreferences">5.7 Dataset storing references</a></li>
 <ul class="ul">
 	<li class="li2"> <a href="ug05spreadsheet.html#ug05objectref">5.7.1 Dataset Storing Object References</a></li>
 	<li class="li2"> <a href="ug05spreadsheet.html#ug05regionalref">5.7.2 Dataset Storing Dataset Region References</a></li>
  </ul></li>
<li class="li2"><a href="ug05spreadsheet.html#ug05savebinary">5.8 Sava Data Values to a Binary File</a></li>
<li class="li2"><a href="ug05spreadsheet.html#ug05importbinary">5.9 Import Data from a Binary File</a></li>
</ul></li>

<br />
<li class="li2">
<a href="ug06imageview.html">Chapter 6: Image Viewer</a>

<ul class="ul">
<li class="li2"><a href="ug06imageview.html#ug06image">6.1 Display a 2-D or 3-D Image</a>
  <ul class="ul">
    <li><a href="ug06imageview.html#ug06image_indexed" >6.1.1 Indexed Image (8-Bit)</a></li>
    <li><a href="ug06imageview.html#ug06image_true" >6.1.2 True Color Image</a></li>
  </ul>
</li>
<li class="li2"><a href="ug06imageview.html#ug06zoom">6.2 Zoom/Flip/Contour Image</a></li>
<li class="li2"><a href="ug06imageview.html#ug06animation">6.3 Animation</a></li>
<li class="li2"><a href="ug06imageview.html#ug06palette">6.4 View and Modify Image Palette/Values</a></li>
<li class="li2"><a href="ug06imageview.html#ug06histogram">6.5 Show Histogram of Pixel Values</a></li>
<li class="li2"><a href="ug06imageview.html#ug06import">6.6 Import JPEG, GIF, PNG, or BMP Image to HDF4/5</a></li>
<li class="li2"><a href="ug06imageview.html#ug06save">6.7 Save HDF Image to JPEG, GIF, PNG, or BMP File</a></li>
</ul>
</li>
<br />
<li class="li2">
<a href="ug07textview.html">Chapter 7: Text Viewer</a>

<ul class="ul">
  <li class="li2"><a href="ug07textview.html#ug07copying">7.1 Copy and Paste Text</a></li>
  <li class="li2"><a href="ug07textview.html#ug07moving">7.2 Moving Text</a></li>
  <li class="li2"><a href="ug07textview.html#ug07save">7.3 Saving Text</a></li>
</ul>

<br />
<li class="li2">
<a href="ug08useroptions.html">Chapter 8: User Options</a></li>

<ul class="ul">
   <li><a href="ug08useroptions.html#ug08general">8.1 General Settings</a></li>
       <ul class="ul">
       <li><a href="ug08useroptions.html#ug08directory">8.1.1 Working Directory</a></li>
       <li><a href="ug08useroptions.html#ug08help">8.1.2 User's Guide Path</a></li>
       <li><a href="ug08useroptions.html#ug08fileaccess">8.1.3 File Access Mode</a></li>
       <li><a href="ug08useroptions.html#ug08extension">8.1.4 File Extensions</a></li>
       <li><a href="ug08useroptions.html#ug08libversion">8.1.5 Library Versions</a></li>
       <li><a href="ug08useroptions.html#ug08font">8.1.6 Text Font</a></li>
       <li><a href="ug08useroptions.html#ug08imageopt">8.1.7 Image Options</a></li>
       <li><a href="ug08useroptions.html#ug08dataopt">8.1.8 Data Options</a></li>
       <li><a href="ug08useroptions.html#ug08objectcount">8.1.9 Number of Open Objects</a></li>
       <li><a href="ug08useroptions.html#ug08displayind">8.1.10 Display Indexing</a></li>
       </ul>
   <li><a href="ug08useroptions.html#ug08module">8.2 Default Modules</a></li>
</ul>



<!-- BEGIN OF FOOTER INFO -->
<hr noshade size=1>

<p>
<a href="index.html">[Index]</a>
<a href="ug01introduction.html">[1]</a>
<a href="ug02start.html">[2]</a>
<a href="ug03objects.html">[3]</a>
<a href="ug04treeview.html">[4]</a>
<a href="ug05spreadsheet.html">[5]</a>
<a href="ug06imageview.html">[6]</a>
<a href="ug07textview.html">[7]</a>
<a href="ug08useroptions.html">[8]</a>
</p>

<!-- END OF FOOTER INFO -->

<hr />
<?php
include ("../../../../includes/footer.html");
?>

