     <?php
     $page_title = "HDFView User's Guide -- Introduction";
     include ("../../../../links.php");
     include ("../../../../includes/header.html");
     ?>
<link href="edit.css" rel="stylesheet" type="text/css" />
<p>
     <a href="index.html">[Index]</a>
     <a href="ug01introduction.html">[1]</a>
     <a href="ug02start.html">[2]</a>
     <a href="ug03objects.html">[3]</a>
     <a href="ug04treeview.html">[4]</a>
     <a href="ug05spreadsheet.html">[5]</a>
     <a href="ug06imageview.html">[6]</a>
     <a href="ug07textview.html">[7]</a>
     <a href="ug08useroptions.html">[8]</a>     </p>

     <h1>
     <fieldset>Chapter 1: Introduction</fieldset></h1>
     <p>
     <ul class="ul">
     <li><a href="ug01introduction.html#ug01overview">1.1 Overview</a></li>
     <li><a href="ug01introduction.html#ug01release">1.2 About This Release</a></li>
     <li><a href="ug01introduction.html#ug1furtherinfo">1.3 Further Information</a></li>
</ul></p>

     <hr noshade size=1 />

     <h2>
     <a NAME="ug01overview"></a>1.1 Overview</h2>
<p>
     HDFView is a Java-based tool for browsing and editing HDF4 and HDF5 files.
     HDFView allows users to browse through any HDF4 and HDF5 file, starting with
     a tree view of all top-level objects in an HDF file's hierarchy. HDFView allows
     a user to descend through the hierarchy and navigate among the file's data objects.
     The content of a data object is loaded only when the object is selected, providing
     interactive and efficient access to HDF4 and HDF5 files. HDFView editing features
     allow a user to create, delete, and modify the value of HDF objects and attributes.</p>

<p>
     The HDFView graphical user interface (GUI) is simple and easy-to-use. First, HDFView was implemented by using
     the Java<sup><font size=-2>TM</font></sup> 2 Platform, which is machine-independent. The
     GUI components have the same look-and-feel for all machines. Second, HDFView uses
     conventional folders and icons to display groups and datasets in a tree structure.
     Users can easily expand or collapse folders to navigate the hierarchical structure
     of an HDF file. Third, HDFView shows data content as text (table or plain text) or
     as an image. </p>

     <h2>
     <a NAME="ug01release"></a>1.2 About This Release</h2>
<p>
    <table cellSpacing="0" cols="1" bgColor="#fffddd" border="0">
    <tr><td><pre><iframe src="../../RELEASE.txt" width="720" height="1000" frameborder="0">
    </iframe></pre></td></tr></table>


     <h2>
     <a NAME="ug1furtherinfo"></a>1.3 Further Information</h2>
<p>
     General information about HDF (HDF4 and HDF5) is available at <a href="http://www.hdfgroup.org">http://www.hdfgroup.org/</a>.</p>

     <p>
     Information about the HDFView tool and related products is available
     from the  <a href="http://www.hdfgroup.org/products/java/index.html">HDF-Java Home page</a>.
     </p>


     <!-- BEGIN OF FOOTER INFO -->
     <hr noshade size=1 />

     <p>
     <a href="index.html">[Index]</a>
     <a href="ug01introduction.html">[1]</a>
     <a href="ug02start.html">[2]</a>
     <a href="ug03objects.html">[3]</a>
     <a href="ug04treeview.html">[4]</a>
     <a href="ug05spreadsheet.html">[5]</a>
     <a href="ug06imageview.html">[6]</a>
     <a href="ug07textview.html">[7]</a>
     <a href="ug08useroptions.html">[8]</a>     </p>
     <p>
     <!-- END OF FOOTER INFO -->

<hr />
<?php
include ("../../../../includes/footer.html");
?>
