<?php 
include ("../../../links.php"); 
include ("../../../includes/header.html"); 
?>

<fieldset>
<h1><center>HDFView</center></h1>
</fieldset>


<table width="100%">
  <tr>
  <td valign="top">
<b>HDFView</b> is a visual tool for browsing and editing HDF4 and HDF5 files.
Using HDFView, you can
<ul class="ul">
<li>view a file hierarchy in a tree structure
<li>create new files, add or delete groups and datasets
<li>view and modify the content of a dataset
<li>add, delete and modify attributes

</ul>

<dl>
  <dt><a href="UsersGuide/ug01introduction.html#ug01release">About This Release</a></dt>
  <dd>- new features and major changes of the latest version</dd>
  <dt><a href="http://www.hdfgroup.org/HDF5/Tutor/hdfview.html">Tutorial</a></dt>
  <dd>- learn how to use HDFView to create, edit and view files</dd>
  <dt><a href="UsersGuide/index.html">User's Guide</a></dt>
  <dd>- information on how to use HDFView</dd>
  <dt><a href="ModularGuide/index.html">Module Guide</a> </dt>
  <dd>- instructions on how to implement HDFView modules</dd>
</dl>
</td>

<td align="right">
  <img src="hdfview.gif"> 
</td>

</tr>
</table>
<hr>
 

<a name="download_hdfview"></a><h2>Obtain HDFView and the Java HDF Object Package</h2>
<p />
HDFView is packaged with the Java HDF Object Package. 
Pre-built binaries are available on the 
<a href="https://www.hdfgroup.org/products/java/release/download.html">HDF-Java Download</a> page.
<p />

<hr />

<?php 
include ("../../../includes/footer.html"); 
?>
